@CHARSET "UTF-8";
body{

	text-align: center; 

	padding: 20px;

}

table{

	margin: 10px auto;

	background-color:orange;

	box-shadow: 10px 10px 5px #888888;

	border:2px solid;

	border-radius:5px;

}

table td{

	padding: 10px;

	border-top: 1px solid black;

}
input[type='text']{
	width:180px;
	min-width:30px;
	border-radius:6px;
	outline: none;
	padding-left:2px;
}
#place{
	width:480px;
	min-width:100px;
}